.git

_Personal
_Personal/*
Clippings
Clippings/*

.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/themes
.obsidian/appearance.json
.obsidian/icons/*

.obsidian-git/workspace.json
.obsidian-git/workspace-mobile.json
.obsidian-git/themes
.obsidian-git/appearance.json
.obsidian-git/icons/*

.obsidian-git/plugins/obsidian-git
.obsidian-git/plugins/git-url
.obsidian-git/plugins/obsidian-omnivore
.obsidian-git/plugins/obsidian-zotero-desktop-connector
.obsidian-git/plugins/zotlit
.obsidian-git/plugins/mousewheel-image-zoom
.obsidian-git/plugins/copilot
