.card-grid {display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 4px;
    row-gap: auto;
}

.card-grid-3 {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 4px;
    row-gap: auto;
	display: grid;
    align-items: center;
    justify-content: center;
	max-width: 300;
}
    
    
.nft{
max-width: 300px;
margin: auto auto;
border: 1px solid #ffffff22;
background-color: #282c34;
background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
box-shadow: 0 7px 20px 5px #00000088;
border-radius: .7rem;
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7px);
overflow: hidden;
transition: .5s all;
hr{
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
}
ins{
    text-decoration: none;
      
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: auto;
    .tokenImage{
    border-radius: .5rem;
    max-width: 100%;
    height: 400px;
    object-fit: contain;
    }
    .description{
    margin: .5rem 0;
    color: #a89ec9;
    }
    .tokenInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price{
        display: flex;
        align-items: center;
        color: #ee83e5;
        font-weight: 700;
        ins{
        margin-left: -.3rem;
        margin-right: .5rem;
        }
    }
    .duration{
        display: flex;
        align-items: center;
        color: #a89ec9;
        margin-right: .2rem;
        ins{
        margin: .5rem;
        margin-bottom: .4rem;
        }
    }
    }
    .creator{
    display: flex;
    align-items: center;
    margin-top: .2rem;
    margin-bottom: -.3rem;
    ins{
        color: #a89ec9;
        text-decoration: none;
    }
    .wrapper{
        display: flex;
        align-items: center;
        border: 1px solid #ffffff22;
        padding: .3rem;
        margin: 0;
        margin-right: .5rem;
        border-radius: 100%;
        box-shadow: inset 0 0 0 4px #000000aa;
        img{
        border-radius: 100%;
        border: 1px solid #ffffff22;
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        margin: 0;
        }
    }
    }
}
::before{
    position: fixed;
    content: "";
    
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 100rem;
    transition: .7s all;
}
&:hover{
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
    ::before{
    filter: brightness(.5);
    top: -100%;
    left: 200%;
    }
}
}
 
/*FEATURES card*/
.card {
    width: 200px;
    height: 250px;
    border-radius: 15px;
    background: #FFF;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
	place-content: center;
	object-fit: contain;
	justify-content: center;
	align-items: center;

   }
   
.card-details {
    color: black;
    height: 95%;
    gap: .5em;
    display: grid;
    place-content: center;
	object-fit: contain;
	justify-content: center;
	align-items: center;

}

.card-button {
    transform: translate(-50%, 125%);
    width: 100%;
    border-radius: 1rem;
    border: none;
    background-color: #5B42F3;
    color: #FFF;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.text-body {
    color: rgb(134, 134, 134);
	place-content: center;
	object-fit: contain;
	justify-content: center;
	align-items: center;
}

/*Text*/
.text-title {
    font-size: 1em;
    font-weight: bold;
	place-content: center;
	object-fit: contain;
	justify-content: center;
	align-items: center;
}

/*Hover*/
.card:hover {
    border-color: #5B42F3;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
	font-size: 0.5em;
	background: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
	color: #FFF;
}
