/* Coloured Folders
a CSS snippet by Lithou

This will allow the colouring of the top level folders into sections that "drop down" when opened. 
This is currently set to be the same colour regardless of theme, but you can change that by copy/pasting the colors from the root section into light/dark theme then
changing them according to preference. The colours are rainbow coloured and 16 in number by default. They are shades such that white/lightgrey text shows up the best.
Some have a bit let contrast (the lighter blue and the yellow) but should still be visible. Again, change them however you would like. 
*/
:root{
    /* folder colours */
    --Fold1: #d04255;
	--Fold2: #d5763f;
	--Fold3: #e5c953;
	--Fold4: #98c346;
	--Fold5: #6c99bb;
	--Fold6: #7c50c8;
	--FoldText: #FFFFFF;
    /* line styles for nesting indicators */}


/* Set up explorer container margins */
.nav-files-container{margin: -5px -5px;}


/* Top Level Folder Titles */
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title{
    font-size: 12px;
    padding-left: 0px;
    margin-top: 0px; /* space between top level sections */}


/* collapse arrow for folders */
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title>.nav-folder-collapse-indicator{
	position: absolute;
    left: 10px;
    top: 0px;}


/* Change Position of Arrow Offscreen when Root Folder Unfolded */
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title>.nav-folder-collapse-indicator:not(.is-collapsed){
	position: absolute;
    left: 0px; /* All Folders*/}


.nav-file-title{padding-left: 0px;}


/* active file increase font size and removes normal highlight marker */
    .nav-file-title.is-active{ 
        color: #000000;
        font-weight: bold;}
		
		
/* Folder Title Colors */      
.nav-folder-children .nav-folder:nth-child(6n+2) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(6n+2) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+2) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+2) .nav-folder-title {
    color: var(--Fold1);border-radius: 0px; margin-top: 0px;}
	
.nav-folder-children .nav-folder:nth-child(6n+3) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(6n+3) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+3) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+3) .nav-folder-title {
    color: var(--Fold2);border-radius: 0px; margin-top: 0px;}
	
.nav-folder-children .nav-folder:nth-child(6n+4) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(6n+4) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+4) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+4) .nav-folder-title {
    color: var(--Fold3);border-radius: 0px; margin-top: 0px;}
	
.nav-folder-children .nav-folder:nth-child(6n+5) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(6n+5) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+5) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+5) .nav-folder-title {
    color: var(--Fold4);border-radius: 0px; margin-top: 0px;}
	
.nav-folder-children .nav-folder:nth-child(6n+6) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(6n+6) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+6) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+6) .nav-folder-title {
    color: var(--Fold5);border-radius: 0px; margin-top: 0px;}
	
.nav-folder-children .nav-folder:nth-child(6n+7) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(6n+7) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+7) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+7) .nav-folder-title {
    color: var(--Fold6);border-radius: 0px; margin-top: 0px;}


/* Folder Icon Colors */
.nav-folder-children .nav-folder:nth-child(6n+2) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(6n+2) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+2) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+2) .nav-folder-collapse-indicator {
    color: var(--Fold1);border-radius: 0px; margin-top: 0px;}
	
.nav-folder-children .nav-folder:nth-child(6n+3) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(6n+3) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+3) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+3) .nav-folder-collapse-indicator {
    color: var(--Fold2);border-radius: 0px; margin-top: 0px;}
	
.nav-folder-children .nav-folder:nth-child(6n+4) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(6n+4) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+4) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+4) .nav-folder-collapse-indicator {
    color: var(--Fold3);border-radius: 0px; margin-top: 0px;}
	
.nav-folder-children .nav-folder:nth-child(6n+5) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(6n+5) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+5) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+5) .nav-folder-collapse-indicator {
    color: var(--Fold4);border-radius: 0px; margin-top: 0px;}
	
.nav-folder-children .nav-folder:nth-child(6n+6) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(6n+6) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+6) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+6) .nav-folder-collapse-indicator {
    color: var(--Fold5);border-radius: 0px; margin-top: 0px;}
	
.nav-folder-children .nav-folder:nth-child(6n+7) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder .nav-folder:nth-child(6n+7) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+7) .nav-folder-collapse-indicator,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(6n+7) .nav-folder-collapse-indicator {
    color: var(--Fold6);border-radius: 0px; margin-top: 0px;}
	
	
	
/* the following is modified from the Blue Topaz Themme */

/*----file explorer smaller fonts & line height----*/
.nav-file-title,
.nav-folder-title {
  font-size: var(--font-size-folder-and-file);
  font-family: var(--font-family-folder-file-title);
  line-height: 1.2;
  cursor: pointer;
  position: relative;
  border-width: 0px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  border-radius: 5px;
  padding: 0px 0px 0px 0px;
  color: var(--text-muted);
  display: flex;
  align-items: baseline;
  flex-direction: row;}


.nav-file-title {padding: 6px 0px 0px 0px;}


.nav-folder-title {
  font-weight: 400;
  color: var(--text-normal);
  opacity: 1;}


/*rename*/
.nav-file-title-content.is-being-renamed,
.nav-folder-title-content.is-being-renamed {
  cursor: text;
  border-color: transparent;
  background-color: white;
  color: black;}


/*---- nav arrows adjust location ----*/

.nav-folder-collapse-indicator::after {
  position: absolute;
  content : ""; /*🖿*/
  left: 0px; /* All Folders*/
  top: 0px;
  font-size: 10px;
  font-weight: bold;
  color: #98c346 !important;
  transition: transform 10ms linear 0s;}


/* Change Position of Arrow Offscreen when Subfolders are Unfolded*/
.nav-folder-collapse-indicator:not(.is-collapsed){
  left: 0px; /* All Folders*/}

.nav-folder-collapse-indicator svg {
  display: true;
  height: 0px;
  width: 0px;}
