#sticky-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99999;
}
#sticky-button a {
  background: #fff;
  color: black;
  display: inline-block;
  font-size: 14px;
  font-weight:800;
  font-weight: bold;
  text-transform: uppercase;
  font-family: montserrat;
  //writing-mode: vertical-rl;
  padding: 6px 14px;
  margin-left:10px;
  border-radius:2px;
  //border-radius:50px 0px 0px 50px;
  box-shadow: 2px 4px 7px rgba(0,0,0,0.2);
  transition: all ease-in-out 300ms;
  webkit-transition: all ease-in-out 300ms;
  moxkit-transition: all ease-in-out 300ms;
  &:hover {
    background:rgba(255,255,255,0.85);
    box-shadow: 2px 4px 7px rgba(0,0,0,0.4);
  }
}

@media screen and (max-width: 960px) {
  #sticky-button {
    bottom: 0px;
    right:6px;
    top: initial;
    transform: none;
  }
  #sticky-button a {
    writing-mode: initial;
    font-size:3vw;
    margin-left:4px;
    border-radius:4px 4px 0px 0px;
  }
}
